<html>
  <head>
    {% if title %}
    	<title>{{title}} - </title>
    {% else %}
    	<title></title>
    {% endif %}
	<script src="/static/js/jquery-3.1.1.js"></script>
	<script src="/static/js/main.js"></script>
  </head>
  <body>
    <div><a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_authenticated %}
        | <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}</div>
    <hr>
    {% with messages = get_flashed_messages() %}
	    {% if messages %}
	    <ul>
		    {% for message in messages %}
			<li>{{ message }} </li>
		    {% endfor %}
	    </ul>
	    {% endif %}
    {% endwith %}
	<ul>
	{% for page in pages %}
		<li><a href="/admin/{{ page.url }}">{{ page.title }}</a></li>
	{% endfor %}
	</ul>
    {% block content %}{% endblock %}
  </body>
</html>
