<!-- extend base layout -->
{% extends "base.html" %}
<br />
{% block content %}
	<script>
		function remove(id) {
			var form = $('form[name="{{ model }}"]');
			$('input[name="delete"]', form).val(id);
			form.submit();
		}

		function edit(id) {
			var form = $('form[name="{{ model }}"]');
			var data = [];

			{% for element in elements.items %} 
				data[{{element.id}}] = {
				{% for attr in fields -%}
					"{{attr}}" : "{{ element[attr]|urlencode }}",
				{%- endfor %} 'delete': false};
			{% endfor %}

			update(data[id] || {}, form);			
			form.show();
		}

		function add() {
			var form = $('form[name="{{ model }}"]');
			var fields = { {% for attr in fields %}'{{attr}}': false,{% endfor %} 'delete': false};
			update(fields, form);			
			form.show();		
		}
	</script>
	<form method="post" name="{{ model }}" style="display: none">
		<table>
		{{form.hidden_tag()}}
		{% for field in form if field.type != 'HiddenField' and field.type != 'CSRFTokenField' %}
			<tr>
				<th>{{ field.label }}</th>
				<td>{{ field }}</td>
				<id>{% if form.errors.get(field.label) %}<span style="color: red;">[{{form.errors.get(field.label)}}]</span><br>{% endif %}</td>
			</tr>
		{% endfor %}
		<tr>
			<td></td>
			<td><input type="submit" value="Save {{ title }}" ></td>
			<td></td>
		</tr>
		</table>
	</form>
	<br />
	<a href="#" class="element_add">Add</a>
	<br />
	<table id="list_{{ model }}" >
		<tr>
			{% for attr in fields %}
				<td>{{attr}}</td>
			{% endfor %}
			<td></td>
			<td></td>
			<td></td>
		</tr>
		{% for element in elements.items %}
		<tr>
			{% for attr in fields %}
				<td>{{element[attr]}}</td>
			{% endfor %}
			<td><a href="#" class="element_edit" data-id="{{element.id}}">Edit</a></td>
			<td><a href="#" class="element_delete" data-id="{{element.id}}">Remove</a></td>
			<td><a href="#" class="element_action" data-id="{{element.id}}" data-model="{{model}}" style="display:none">Action</a></td>
		</tr>
		{% endfor %}
	</table>
	{% if elements.has_prev %}<a href="{{ url_for(route, page = elements.prev_num) }}"><< Newer {{ title }}</a>{% else %}<< Newer {{ title }}{% endif %} | 
	{% if elements.has_next %}<a href="{{ url_for(route, page = elements.next_num) }}">Older {{ title }} >></a>{% else %}Older {{ title }} >>{% endif %}
{% endblock %}
