{% extends "base.html" %}
<br />
{% block content %}
	<script>
		function remove(id) {
			var form = $('form[name="{{ model }}"]');
			$('input[name="delete"]', form).val(id);
			form.submit();
		}

		function edit(id) {
			var form = $('form[name="{{ model }}"]');
			var data = [];

			{% for element in elements.items %} 
				data[{{element.id}}] = {
				{% for attr in fields -%}
					"{{attr}}" : "{{ element[attr]|urlencode }}",
				{%- endfor %} 'delete': false};
			{% endfor %}

			update(data[id] || {}, form);			
			form.show();
		}

		function add() {
			var form = $('form[name="{{ model }}"]');
			var fields = { {% for attr in fields %}'{{attr}}': false,{% endfor %} 'delete': false};
			update(fields, form);			
			form.show();		
		}
	</script>
	<form method="post" name="{{ model }}" class="form" style="display: none">
		<h2 class="form-heading">{% if title %} {{title}} {% endif %}</h2>
		{{form.hidden_tag()}}
		{% for field in form if field.type != 'HiddenField' and field.type != 'CSRFTokenField' %}
			<label for="{{ field.name }}" class="sr-only">{{ field.description }}</label>
			{{field(id=field.name, placeholder=field.description)}}
			{% if form.errors.get(field.label) != None %}
				{% for error in form.errors.get(field.label) %}
					<span style="color: red;">{{error}}</span>
				{% endfor %}
			{% endif %}
		{% endfor %}
		<br />
		<button class="btn btn-lg btn-primary btn-block" type="submit">Save {{ title }}</button>
	</form>
	<br />
	<a href="#" class="element_add">Add</a>
	<br />
	<table id="list_{{ model }}" class="table table-striped" >
		<tr>
			{% for attr in fields %}
				<th>{{attr}}</th>
			{% endfor %}
			<th></th>
			<th></th>
			<th></th>
		</tr>
		{% for element in elements.items %}
		<tr>
			{% for attr in fields %}
				<td>{{element[attr]}}</td>
			{% endfor %}
			<td><a href="#" class="element_edit" data-id="{{element.id}}">Edit</a></td>
			<td><a href="#" class="element_delete" data-id="{{element.id}}">Remove</a></td>
			<td><a href="#" class="element_action" data-id="{{element.id}}" data-model="{{model}}" style="display:none">Action</a></td>
		</tr>
		{% endfor %}
	</table>
	<nav aria-label="...">
		<ul class="pager">
			<li class="previous">
			{% if elements.has_prev %}
				<a href="{{ url_for(route, page = elements.prev_num) }}"><span aria-hidden="true">&larr;</span>{{ title }} Older</a>
			{% else %}
				<span aria-hidden="true">&larr;</span>{{ title }} Older
			{% endif %}
			</li>
			<li class="next">
			{% if elements.has_next %}
				<a href="{{ url_for(route, page = elements.next_num) }}">Newer {{ title }}<span aria-hidden="true">&rarr;</span></a>
			{% else %}
				Newer {{ title }}<span aria-hidden="true">&rarr;</span>
			{% endif %}
			</li>
		</ul>
	</nav>
{% endblock %}
