<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<h1>Register</h1>
<form action="" method="post" name="register">
	{{form.hidden_tag()}}
	<p>
		Email:<br>
		{{form.email(size=80)}}
		{% for error in form.errors.email %}
			<span style="color: red;">[{{error}}]</span>
		{% endfor %}
	</p>
	<br />
	<p>
		Password:<br>
		{{form.password(size=80)}}
		{% for error in form.errors.password %}
			<span style="color: red;">[{{error}}]</span>
		{% endfor %}
	</p>
	<br />
	<a href="/admin/login">Login</a>
	<br />

    <p><input type="submit" value="Register"></p>
</form>
{% endblock %}
