{% extends "base.html" %}
{% block content %}
<form action="" method="post" name="register" class="form">
	<h2 class="form-heading">{% if title %} {{title}} {% endif %}</h2>
	{{form.hidden_tag()}}
	<label for="{{ form.email.name }}" class="sr-only">{{ form.email.description }}</label>
	{{form.email(size=80, class="form-control", autofocus="autofocus", required="required", id=form.email.name, placeholder=form.email.description)}}
	{% for error in form.errors.email %}
		<span style="color: red;">[{{error}}]</span>
	{% endfor %}
	<label for="{{ form.password.name }}" class="sr-only">{{ form.password.description }}</label>
	{{form.password(size=80, class="form-control", required="required", id=form.password.name, placeholder=form.password.description)}}
	{% for error in form.errors.password %}
		<span style="color: red;">[{{error}}]</span>
	{% endfor %}
	<label for="{{ form.password_repeat.name }}" class="sr-only">{{ form.password_repeat.description }}</label>
	{{form.password_repeat(size=80, class="form-control", required="required", id=form.password_repeat.name, placeholder=form.password_repeat.description)}}
	{% for error in form.errors.password_repeat %}
		<span style="color: red;">[{{error}}]</span>
	{% endfor %}
	<br />
	<a href="/admin/login">Login</a>
	<br />
	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
{% endblock %}
